*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    background-color: #e0e8ff;
}
.img-div1{
    width: 100%;
    position: relative;
    z-index: -1;
    
}
.img1{
    width: 100vw;
}
.main-div{
    /* position: absolute;
    left: 490px;
    top: 30px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #ffffff;
    width: 300px;
    height: 510px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 13px;
}
.img-div2{
    width: 100%;
}
.img2{
    width: 300px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.h2div{
    display: flex;
    justify-content: center;
}
.h2{
    margin-top: 15px;
    font-weight: 900;
    margin-bottom: 25px;
}
.p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
}
.p p{
    color: #8185a3;
    padding-left: 25px;
    padding-right: 25px;
}
.cost-main{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    height: 75px;
    background-color: #f8f9fe;
    border-radius: 10px;

}
.x{
    margin-left: 15px;
}
.y{
    margin-left: 18px;
}
.y h3{
    font-size: 12px;
}
.z{
    margin-left: 18px;
}
.z p{
    font-size: 12px;
    font-weight: bold;
    color: #8185a3;
}
.divvv{
    display: grid;
    row-gap: 2px;
}
.zz a{
    font-weight: 600;
    margin-left: 32px;
    font-size: 14px;
    color: #39319f;
}
.btn-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    width: 240px;
    height: 45px;
    background-color: #382ae1;
    border-radius: 10px;
    box-shadow: rgba(56, 42, 225, 1) 0px 25px 20px -20px;
    margin-bottom: 10px;
}
.btn-1 a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 13px;
}
.btn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    width: 240px;
    height: 45px;
}
.btn-2 a{
    text-decoration: none;
    color: #8185a3;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 13px;
}